body {
  background-color: #dc8cd6;
}

.HomePage {
  text-align: center;
  background-color: white;
  padding: 100px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
}

.Title {
  color: #161618;
}